body{
  background-color: white;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.form{
width:500px;
margin: auto;
margin-top: 100px;
}

.container{
  /* display:flex; */
  margin-left: 300px;
  /* justify-content: center; */
}
p{
  margin-top: 20px;
  margin-left: 100px;
}